.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  & > :global(*) {
    flex: 1;
  }
}

@media (width >= 48rem) {
  .card-container {
    flex-direction: row;
    align-items: normal;
    gap: 1rem;
  }
}
