.booking-status-intro-section {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    padding: 0 10%;
    margin-bottom: 65px;
}

.booking-status-intro-section h2 {
    font-size: 32px;
    font-weight: 600;
    color: #D9AD7C;
    margin-bottom: 24px;
    line-height: 1.4;
}

.booking-status-intro-section hr {
    width: 183px;
    margin: auto auto;
    border-top: 1px solid;
    margin-bottom: 18px;
}

.booking-status-intro-section p {
    line-height: 1.8;
}
