.booking-status-form-section {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    margin-bottom: 68px;
    padding: 0 10%;
}

.booking-status-form-section div {
    width: 100%;
    max-width: 964px;
    height: 242px;
    border: 1px solid #C8C5C5;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.booking-status-form-section p {
    color: #757575;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;
    line-height: 1.4;
}

.booking-status-form-section input {
    border: 1px solid #C8C5C5;
    width: 100%;
    max-width: 512px;
    height: 48px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 20px;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.booking-status-form-section input:focus {
    border-color: #D9AD7C;
    outline: none;
    box-shadow: 0 0 10px rgba(217, 173, 124, 0.5);
}

.booking-status-form-section button {
    width: 327px;
    height: 43px;
    border-radius: 10px;
    border: 0;
    background-color: #D9AD7C;
    color: #FFFFFF;
    font-weight: 600;
    letter-spacing: .1cm;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease-in-out, box-shadow 0.3s ease;
}

.booking-status-form-section button:hover {
    background-color: #C8965E;
}

.booking-status-form-section button:active {
    background-color: #A77C4E;
}

.booking-status-form-section button:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(217, 173, 124, 0.5);
}

@media (max-width: 768px) {
    .booking-status-form-section input {
        width: 85%;
    }

    .booking-status-form-section button {
        width: 70%;
    }
}
